*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);

}
body{
    background-color: var(--primary-color);
    
}
header{
    background-color: var(--sec-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;



}
.container{

    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 0 287px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container h1{


}
