@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #FFF8E1;
    --sec-color: #FFE0B2;
    --ter-color:#FF7043;
    --text-color:#4E344E;
    --text-color-sec:#6D4C41;
    --font1:"Poppins", sans-serif;
}
h1{
    margin: 0 0 16px;
}
h2{
    color: var(--ter-color);
}
p{
    margin: 0 0 16px;
}
button{
    background-color: var(--ter-color);
    color: #FFF8E1;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}